@import "kouto-swiss"

meyer-reset()
box-sizing-reset()
normalize()

breakpoint-large = 1000px
breakpoint-medium = 670px

bg-color = #3a3f4f

a
    text-decoration none

html, body
    height 100%
    font-family 'Helvetica Neue', Helvetica, sans-serif

body
    background bg-color
    overflow hidden
    +media-query( all, max-width breakpoint-medium )
        font-size .8em

.col1, .col2
    display inline-block
    float left
    margin 0

.col1
    width 25%
    +media-query( all, max-width breakpoint-large )
        width 40%

.col2
    width 75%
    +media-query( all, max-width breakpoint-large )
        width 60%

header
    height 100px
    color #fff
    text-align center

    h1#title
        line-height 100px
        background #2980b9
        +media-query( all, max-width breakpoint-medium )
            width 100%
            line-height 50px
    nav#menu
        a
            float left
            display block
            width 100px
            height 100%
            color #fff
            line-height 50px
            padding-top 50px
            +media-query( all, max-width breakpoint-medium )
                width 33.33333333333%
        .list
            background #2ecc71 url(../img/icon-list.png) center 30% no-repeat
        .add
            background #2cddc8 url(../img/icon-add.png) center 30% no-repeat
        .refresh
            background #ffb87d url(../img/icon-refresh.png) center 30% no-repeat
        +media-query( all, max-width breakpoint-medium )
            width 100%

#main
    height 100%
    aside
        color bg-color
        height 100%
        background lighten(bg-color, 90%)
        overflow-y auto
        padding-bottom 1em
        h2
            position relative
            text-align center
            line-height 2em
            padding 1em 0
            background bg-color
            margin-bottom .8em
            font-weight bold
            font-size 1.2em
            color #fff
            .triangle
                content ""
                position absolute
                bottom -20px
                left 30px
                triangle( down, 10px, bg-color)
            img
                margin-right .5em
        ul
            li
                a
                    position relative
                    display block
                    padding 1.5em 0
                    line-height 1.5em
                    &:hover
                        background lighten(bg-color, 80%)
                    img
                        margin 0 1em
        .info
            position relative
            padding 2em 1em
            address
                padding-left 30px
                min-height 22px
                background url(../img/icon-address.png) left center no-repeat
            input[type="range"]
                -webkit-appearance none
                -webkit-tap-highlight-color rgba(255, 255, 255, 0)
                width 100%
                height 5px
                margin .5em auto
                border none
                padding 1px 2px
                border-radius 14px
                background #232528
                outline none
            [type="range"]::-moz-range-track
                border inherit
                background transparent
            [type="range"]::-ms-track
                border inherit
                color transparent /* don't drawn vertical reference line */
                background transparent
            [type="range"]::-ms-fill-lower,
            [type="range"]::-ms-fill-upper
                background transparent
            [type="range"]::-ms-tooltip
                display none
            /* thumb */
            [type="range"]::-webkit-slider-thumb
                -webkit-appearance none
                width 20px
                height 12px
                border none
                border-radius 12px
                background-image repeating-linear-gradient(#34495e 0%, #7f8c8d 50%, #34495e 100%)
            [type="range"]::-moz-range-thumb
                width 40px
                height 18px
                border none
                border-radius 12px
                background-image repeating-linear-gradient(#529de1 0%, #245e8f 100%)
            [type="range"]::-ms-thumb
                width 40px
                height 18px
                border-radius 12px
                border 0
                background-image repeating-linear-gradient(#529de1 0%, #245e8f 100%)
    .distance
        position absolute
        top 0
        right 0
        line-height 1em
        padding .2em
        color #fff
        background #16a085
    .showProblems a
        display block
        padding 1em 0 1em 40px
        background #d35400 url(../img/icon-flag.png) 5% center no-repeat
        color #fff
    .problem
        display block
        padding 1em 0
        margin-top 3em
        text-align center
        color #fff
        background #c0392b
    .problems
        background #e74c3c
        a
            display block
            padding 1em
            color #fff
            border-bottom 1px #fff solid
    #map-canvas
        height 100%
