html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
body {
  background: #3a3f4f;
  overflow: hidden;
}
@media all and (max-width: 670px) {
  body {
    font-size: 0.8em;
  }
}
.col1,
.col2 {
  display: inline-block;
  float: left;
  margin: 0;
}
.col1 {
  width: 25%;
}
@media all and (max-width: 1000px) {
  .col1 {
    width: 40%;
  }
}
.col2 {
  width: 75%;
}
@media all and (max-width: 1000px) {
  .col2 {
    width: 60%;
  }
}
.error {
  color: #d35400;
  display: none;
}
header {
  height: 100px;
  color: #fff;
  text-align: center;
}
header h1#title {
  line-height: 100px;
  background: #2980b9;
}
@media all and (max-width: 670px) {
  header h1#title {
    width: 100%;
    line-height: 50px;
  }
}
header nav#menu a {
  float: left;
  display: block;
  width: 100px;
  height: 100%;
  color: #fff;
  line-height: 50px;
  padding-top: 50px;
}
@media all and (max-width: 670px) {
  header nav#menu a {
    width: 33.33333333333%;
  }
}
header nav#menu .list {
  background: #2ecc71 url("../img/icon-list.png") center 30% no-repeat;
}
header nav#menu .admin {
  background: #2cddc8 url("../img/icon-admin.png") center 30% no-repeat;
}
header nav#menu .refresh {
  background: #ffb87d url("../img/icon-refresh.png") center 30% no-repeat;
}
@media all and (max-width: 670px) {
  header nav#menu {
    width: 100%;
  }
}
#main {
  height: 100%;
}
#main aside {
  color: #3a3f4f;
  height: 100%;
  background: #e9ebef;
  overflow-y: auto;
  padding-bottom: 1em;
}
#main aside h2 {
  position: relative;
  text-align: center;
  line-height: 2em;
  padding: 1em 0;
  background: #3a3f4f;
  margin-bottom: 0.8em;
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}
#main aside h2 .triangle {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 30px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #3a3f4f;
}
#main aside h2 img {
  margin-right: 0.5em;
}
#main aside ul li a {
  position: relative;
  display: block;
  padding: 1.5em 0;
  line-height: 1.5em;
}
#main aside ul li a:hover {
  background: #d4d7df;
}
#main aside ul li a img {
  margin: 0 1em;
}
#main aside .info {
  position: relative;
  padding: 2em 1em;
/* thumb */
}
#main aside .info address {
  padding-left: 30px;
  min-height: 22px;
  background: url("../img/icon-address.png") left center no-repeat;
}
#main aside .info input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  width: 100%;
  height: 5px;
  margin: 0.5em auto;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #232528;
  outline: none;
}
#main aside .info [type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}
#main aside .info [type="range"]::-ms-track {
  border: inherit;
  color: transparent;
  background: transparent;
}
#main aside .info [type="range"]::-ms-fill-lower,
#main aside .info [type="range"]::-ms-fill-upper {
  background: transparent;
}
#main aside .info [type="range"]::-ms-tooltip {
  display: none;
}
#main aside .info [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 12px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-repeating-linear-gradient(#34495e 0%,#7f8c8d 50%,#34495e 100%);
  background-image: repeating-linear-gradient(#34495e 0%,#7f8c8d 50%,#34495e 100%);
}
#main aside .info [type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-repeating-linear-gradient(#529de1 0%,#245e8f 100%);
  background-image: repeating-linear-gradient(#529de1 0%,#245e8f 100%);
}
#main aside .info [type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: -webkit-repeating-linear-gradient(#529de1 0%,#245e8f 100%);
  background-image: repeating-linear-gradient(#529de1 0%,#245e8f 100%);
}
#main .distance {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1em;
  padding: 0.2em;
  color: #fff;
  background: #16a085;
}
#main .showProblems a {
  display: block;
  padding: 1em 0 1em 40px;
  background: #d35400 url("../img/icon-flag.png") 5% center no-repeat;
  color: #fff;
}
#main .problem {
  display: block;
  padding: 1em 0;
  margin-top: 3em;
  text-align: center;
  color: #fff;
  background: #c0392b;
}
#main .problems {
  background: #e74c3c;
}
#main .problems a {
  display: block;
  padding: 1em;
  color: #fff;
  border-bottom: 1px #fff solid;
}
#main .editInfo {
  display: none;
  margin: 1em;
}
#main .editInfo label {
  display: block;
  line-height: 2em;
  cursor: pointer;
}
#main .editInfo input[type=text] {
  display: block;
  height: 35px;
  width: 100%;
}
#main #map-canvas {
  height: 100%;
}
