extends layout

block content
    
    
    div.container.small
        a.back(href="list.html") Retour
        div.info
            h2 
                img(src="../../static/banks/bpost.png", alt="BPost Banque") 
                | BPost Banque
            address
            | Rue Hovémont 22
            br
            | 4910 Theux
