extends layout

block content
    aside.col1
        h2
            img(src="img/bpost.png", alt="BPost Banque")
            | BPost Banque
        div.info
            address
                | Rue Hovémont 22
                br
                | 4910 Theux
            span.distance +-450m
        a.problem(href="") Problème ?
        div.problems
            a(href="") Distributeur vide ou en panne
        div.editInfo
            label(for="addressBox") Nouvelle adresse
            input#addressBox(type="text", name="address", placeholder="Rue, code postal, ville")
            //- label(for="bankselect") Nom de la banque
            //- select#bankselect
            //-     option(value="53937660e0b8c05979c6ea55") Argenta
            //-     option(value="53937660e0b8c05979c6ea56") AXA
            //-     option(value="53937660e0b8c05979c6ea57") Belfius
            //-     option(value="53937660e0b8c05979c6ea58") BeoBank
            //-     option(value="53937660e0b8c05979c6ea59") BPost Banque
            //-     option(value="53937660e0b8c05979c6ea5a") Crelan
            //-     option(value="53937660e0b8c05979c6ea5b") CBC
            //-     option(value="53937660e0b8c05979c6ea5c") KBC
            //-     option(value="53937660e0b8c05979c6ea5d") Keytrade Bank
            //-     option(value="53937660e0b8c05979c6ea5e") BNP Paribas Fortis
            //-     option(value="53937660e0b8c05979c6ea5f") ING
            //-     option(value="53937660e0b8c05979c6ea60") BKCP
            //-     option(value="53937660e0b8c05979c6ea61") Delta Lloyd Bank
            //-     option(value="53937660e0b8c05979c6ea62") Deutsche Bank
            button.sendButton Modifier
