extends layout

block content
    aside.col1
        h2
            img(src="img/bpost.png", alt="BPost Banque")
            | BPost Banque
        div.info
            address
                | Rue Hovémont 22
                br
                | 4910 Theux
            span.distance +-450m
        a.problem(href="") Problème ?
        div.problems
            a(href="") Distributeur vide ou en panne
