<!DOCTYPE html>
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="initial-scale=1.0, user-scalable=no")

		title Cash-Cache
		link(rel="stylesheet", type="text/css", href="css/styles.css")

		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNV1rxti4vR6khDSlCBIOTj_Pvc_xF5AI")
		script(type="text/javascript", src="js/main.js")
	body
		div.overlay
			div#map-canvas
