<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")

        title Cash-Cache
        link(rel="stylesheet", type="text/css", href="css/styles.css")
    body
        header
            h1#title.col1 Cash-Cache
            nav#menu.col2
                a.list(href="index.html" title="Liste des distributeurs proches") Liste
                a.add(href="add.html" title="Ajouter un distributeur") Ajouter
                a.refresh(href="#" title="Ajouter un distributeur") Rafraichir
        section#main
            block content
            div#map-canvas.col2

        script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNV1rxti4vR6khDSlCBIOTj_Pvc_xF5AI")
        script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")
        script(type="text/javascript", src="js/main.js")
