extends layout

block content
    div.overlay
        div.container
            a.back(href="index.html") Retour
            h2 3 distributeurs proches
            ul
                li
                    a(href="detail.html")
                        img(src="../../static/banks/bpost.png", alt="BPost Banque")
                        strong BPost Banque
                        span +-268m
                li
                    a(href="detail.html")
                        img(src="../../static/banks/bnp.png", alt="BNP Paribas Fortis")
                        strong BNP Paribas Fortis
                        span +-428m
                li
                    a(href="detail.html")
                        img(src="../../static/banks/ing.png", alt="ING")
                        strong ING
                        span +-450
